@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
}

@layer components {
  .gradient-background {
    @apply bg-[length:400%_400%] bg-recording animate-recording;
  }

  .loader-circle {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    animation: dash 1.5s ease-in-out infinite, color 6s linear infinite;
    stroke-linecap: round;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes color {
  0% {
    stroke: #d70fdd;
  }
  20% {
    stroke: #ff0075;
  }
  40% {
    stroke: #ff6b00;
  }
  60% {
    stroke: #caba00;
  }
  80% {
    stroke: #12eb40;
  }
  100% {
    stroke: #d70fdd;
  }
}
